<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-7 col-md-offset-1">
    <h1><%= @project.name.titleize %></h1>
    <h4><i class="glyphicon glyphicon-map-marker"></i>  <%= @project.location.titleize %></h4>
  </div>
  <div class="col-md-3">
    <%= link_to 'Edit', edit_project_path(@project), class:'btn btn-default btn-md' %>
  </div>
</div>
<hr/>

<div class="row">
  <div class="col-md-7 col-md-offset-1">
    <%= image_tag @project.image.url(:original) , class:'img-responsive'%>
  </div>
  <div class="col-md-3">
    <dl>
      <dt><h1><%= number_to_currency(@project.remaining_cost) %></h1></dt>
      <dd class="text-muted"><h3>Raised of <%= number_to_currency(@project.total_cost) %></h3></dd>
    </dl>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
        1000%
      </div>
    </div>
    <h4><i class="glyphicon glyphicon-time"></i> 6 Days Left</h4>
    <button class="btn btn-block btn-lg btn-primary"> Donate </button>
  </div>
</div>

<div class="row">
    <div class="col-md-7 col-md-offset-1">
    <p>
      <%= @project.description %>
    </p>
    </div>
</div>

<!--Project Items-->

<div class="row">
  <div class="col-md-7 col-md-offset-1">
  <h2>Project Items</h2>
  </div>
</div>

<hr/>


<div class="row">
  <div class="col-md-7 col-md-offset-1">

    <%= link_to 'New Project item', new_project_item_path(@project)  %>
    <%@project.project_items.each do |project_item| %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">

        </h4>

      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= project_item.name %>
            <div class="pull-right">
              <%= number_to_currency( project_item.total_cost) %>
              for <%= project_item.quantity %>
            </div>
          </h3>
        </div>
        <div class="panel-body">
          <p><%= project_item.description %></p>
        </div>
      </div>
      <%= link_to 'Show', project_items_path(project_item.id) %>
      <%= link_to 'Destroy', project_items_path(:project_item), method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <% end %>
  </div>
</div>


