<p id="notice"><%= notice %></p>

<div class="row">
  <h1><%= @project.name.titleize %></h1>
  <h4><i class="glyphicon glyphicon-map-marker"></i>  <%= @project.location.titleize %></h4>
</div>




<div class="row">
    <div class="col-md-8">
     <%= image_tag @project.image.url(:original) , class:'img-responsive'%> 
    </div>
  <div class="col-md-4"><div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo sapiente eligendi quod quos ipsum voluptas similique cupiditate possimus quaerat! Atque praesentium esse repellat, impedit. Possimus fugiat facere harum aliquam at.</div>
  <div>Impedit tenetur, aspernatur, saepe itaque recusandae, iusto incidunt aliquid neque id fuga autem ipsum! Ipsa ut dolorum reprehenderit quas dolore repudiandae numquam. Natus, quod, sequi amet tempora nesciunt ducimus culpa.</div></div>
</div>
<div class="row">
    <div class="col-md-8">
     <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae deleniti, incidunt soluta saepe ipsa, unde fuga! Impedit, dicta ullam assumenda natus quidem architecto magnam temporibus possimus dignissimos nesciunt est sequi.</div>
     <div>Atque ex unde laborum, porro illo totam dignissimos ab corrupti nemo blanditiis eveniet molestiae sapiente ad voluptates aut omnis dolorum aperiam ducimus delectus quam voluptatum, aspernatur numquam, rem! Maxime, officiis!</div>
    </div>
  <div class="col-md-4"><div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo sapiente eligendi quod quos ipsum voluptas similique cupiditate possimus quaerat! Atque praesentium esse repellat, impedit. Possimus fugiat facere harum aliquam at.</div>
  <div>Impedit tenetur, aspernatur, saepe itaque recusandae, iusto incidunt aliquid neque id fuga autem ipsum! Ipsa ut dolorum reprehenderit quas dolore repudiandae numquam. Natus, quod, sequi amet tempora nesciunt ducimus culpa.</div></div>
</div>
<p>
  <strong></strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

  <%= @project.duration %>
  <%= @project.user %>
   <%= @project.location %>

 <%= raise StandardError %>
 
    <%@project.project_items.each do |project_item| %>
     
        <%= project_item.name %>
        <%= project_item.description %>
        <%= project_item.quantity %>
        <%= project_item.project %>

       <%= link_to 'Show', project_item %>
      <%= link_to 'Edit', edit_project_item_path(project_item) %>
        <%= link_to 'Destroy', project_item, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
