<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-7 col-md-offset-1">
    <h1>
      <%= @project.name.titleize %>
      <% if authorized? %>
      <%= link_to 'Edit', edit_project_path(@project), class:'btn btn-md btn-warning' %>
      <%= link_to 'Destroy', @project, class:'btn btn-md btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </h1>
    <span class="text-muted">
      <i class="glyphicon glyphicon-map-marker"></i>  <%= @project.location.titleize %>
    </span>
    <%= render partial: 'duration', locals: {project: @project}%>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-md-7 col-md-offset-1">
    <%= image_tag @project.image.url(:original), class:'img-responsive'%>
  </div>
  <div class="col-md-3">
    <dl>
      <dt><h1><%= number_to_currency(@project.remaining_cost) %></h1></dt>
      <dd class="text-muted"><h3>Raised of <%= number_to_currency(@project.total_cost) %></h3></dd>
    </dl>

    <%= render partial: 'percentagebar', locals: {project: @project} %>

    <h4>
      <%= render partial: 'duration', locals: {project: @project}%>
    </h4>

    <button class="btn btn-block btn-lg btn-primary"> Donate </button>
  </div>
</div>

<div class="row">
    <div class="col-md-7 col-md-offset-1">
    <p>
      <%= @project.description %>
    </p>
    </div>
</div>

<!--Project Items-->

<div class="row">
  <div class="col-md-7 col-md-offset-1">
  <h2>Project Items</h2>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-md-7 col-md-offset-1">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Total Cost</th>
      </tr>
      </thead>
      <tbody>
        <%= link_to 'New Project item', new_project_project_item_path(@project), class: 'btn btn-success btn-md' %>
        <% @project.project_items.each do |project_item| %>

              <tr>
                <td><%= link_to project_item.name, [@project, project_item] %></td>
                <td><%= project_item.quantity %></td>
                  <%= raise %>

                <td><%= number_to_currency( project_item.total_cost) %></td>
              </tr>

        <% end %>
      </tbody>
    </table>
  </div>
</div>


