<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project_item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project_item.description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @project_item.quantity %>
</p>

<p>
  <strong>Project:</strong>
  <%= @project_item.project %>
</p>

<p>
  <strong>Cost per item:</strong>
  <%= @project_item.cost %>
</p>

<%= link_to 'Edit', edit_project_project_item_path %> |
<%= link_to 'Back', project_path(@project_item.project_id) %>
