<!DOCTYPE html>
<html>
<head>
  <title>Project Miami</title>
  <%= stylesheet_link_tag  'application',  media: 'all', 'data-turbolinks-track' => true %>
   <%= stylesheet_link_tag  'pages',  media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand">Cover</h3>
            <ul class="nav masthead-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Contact</a></li>
              <li>
                <%= link_to 'Sign up', new_user_registration_path %>
              </li>
               <li>
                <%= link_to 'Login', new_user_session_path %>
              </li>
               <li>
                <%= link_to 'logout', destroy_user_session_path, method: :delete %>
              </li>

            </ul>
          </div>
        </div>
      </div>

         
  <%= yield %>

      <div class="mastfoot">
        <div class="inner">
        <p>ProjectMiami <a href="http://getbootstrap.com"</a> by <a href="https://twitter.com/mdo">@smo</a>.</p>
        </div>
      </div>      
    </div>

</div>



</body>
</html>

